*{
    margin: 0px;
    padding: 0px;
}

header{
    min-height: 200px;
    background-color: cornflowerblue;
}

main{
    background-color: cornsilk;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: cornsilk;
    text-align: center;
    padding-top: 75px;
}

.container{
    display: flex;
    flex-direction: column;
}

.item{
    margin: 5px;
    flex: 1;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornflowerblue;
    font-size: 32px;
}

footer{
    max-height: 200px;
    background-color: cornflowerblue;
}