body{
    background-color: cornsilk;
}

header{
    min-height: 200px;
    background-color: cornflowerblue;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: cornsilk;
    text-align: center;
    padding-top: 75px;
}

.container{
    display: flex;
}

.item{
    margin: 5px;
    flex: 1;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornflowerblue;
    font-size: 32px;
}

.wider-item{
    flex: 4;
}