html, body{
    padding: 0%;
    margin: 0%;
}

header{
    min-height: 200px;
    background-color: cornflowerblue;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: cornsilk;
    text-align: center;
}